@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.5em;
  color: white;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* form */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /*@include box_sizing;*/
}

input {
  /*height: auto !important;*/
  height: 40px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
